body {
    background-image: url(rivoluzione-industriale2.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:100px;
    background-color:rgba(181, 222, 242); 
    
    
 }
 
 .logo {
    width: fit-content;
    height:auto;
 }
 .ratto{
 background-color: black;
 color:rgba(30, 32, 34, 0.733);
 display: flex;
 justify-content: space-around;
 }

.barra{
    color:rgb(181, 222, 242);
}

.ratto a{
    text-decoration: none;
}

.ratto a:hover{
    background-color: grey;
    font-size: 20px;
    border-radius: 10px;
    padding:4px 8px;

}

.logomio{
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width:100%;
    margin-top: 100px;
    
}
#logo1 {
    width: 20%;
    border-radius: 100%;
}
.scelta{
    align-content: space-around;
    text-align: center;
}
td{
    width: 6000px;
    align:center;
}
#table{
    text-align: center;
    margin-top: 120px;
}

.p2{                     
    text-align:center;
    margin-top: 150px;
    
   
    
     
}

.p3{
    text-align:center;
    margin-top: 150px;
    
     
}
.p4{
    text-align:center;
    margin-top: 150px;
    
     
} 

.p5{
    
    margin-top: 280px;
    
     
} 

